<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="MyApp">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Application name</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container body-content" ng-controller="MainController as mainCtrl">
    <div>
        <h1>Lesson 3. Homework</h1>
    </div>

    <div class="row" ng-view>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
<script src="app.js"></script>
</body>
</html>


<script type="text/ng-template" id="custom-modal.html">
    <div class="modal" ng-show="show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="close" ng-click="cancel()">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-bind-html="headerText"></h4>
                </div>
                <div class="modal-body" ng-transclude>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()">{{cancelText}}</button>
                    <button type="button" class="btn btn-primary" ng-click="submit()">{{okText}}</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="list.html">
    <notification alert-data="notification"></notification>
    <!--<button id="submit" name="submit" class="btn btn-default"-->
            <!--type="submit" ng-click="notification.message = 'Oh yeah!'; notification.type = 'success';notification.show = true;">Show</button>-->
    <!--<button id="submit" name="submit" class="btn btn-default"-->
            <!--type="submit" ng-click="notification.message = 'fail!'; notification.type = 'danger';notification.show = true;">Show</button>-->
    <div ng-controller="PersonListController as personListCtrl">
        <button class="btn btn-show-table" ng-class="btnShowTableClass" ng-click="toggleTable()">{{ buttonTxt }}
        </button>
        <hr/>
        <div ng-show="showTable">
            <input type="text" ng-model="filterQuery" class="form-control" placeholder="Enter text to filter persons"/>
            <hr/>
            <table class="table people-table" ng-show="persons.length">
                <tr>
                    <th class="sortable" ng-click="sortBy('firstName')">First Name<i class="sort-icon"
                                                                                     ng-class="sortIconClass('firstName')"></i>
                    </th>
                    <th class="sortable" ng-click="sortBy('lastName')">Last Name<i class="sort-icon"
                                                                                   ng-class="sortIconClass('lastName')"></i>
                    </th>
                    <th class="sortable" ng-click="sortBy('age')">Age<i class="sort-icon"
                                                                        ng-class="sortIconClass('age')"></i></th>
                    <th class="sortable" ng-click="sortBy('address.city')">City<i class="sort-icon"
                                                                                  ng-class="sortIconClass('address.city')"></i>
                    </th>
                    <th>
                        <select class="form-control" ng-model="phoneTypeVisible">
                            <option value="phoneNumber">Phone Number</option>
                            <option value="faxNumber">Fax Number</option>
                        </select>
                    </th>
                    <th>Actions</th>
                </tr>
                <tr ng-repeat="person in persons | filter: filterQuery | orderBy: sortParameter: sortOrder">
                    <td><a ng-href="#person/{{person.id}}">{{ person.firstName }}</a></td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.address.city }}</td>
                    <td>
                        <span ng-show="phoneTypeVisible === 'phoneNumber'">{{ person.phoneNumber[0].number }}</span>
                        <span ng-show="phoneTypeVisible === 'faxNumber'">{{ person.phoneNumber[1].number }}</span>
                    </td>
                    <td>
                        <button class="btn btn-default glyphicon glyphicon-pencil"
                                ng-click="toggleEditModal(person)"></button>
                        <button class="btn btn-default glyphicon glyphicon-trash"
                                ng-click="toggleDeleteModal(person)"></button>
                    </td>
                </tr>
            </table>
            <div ng-show="!persons.length">There are no persons!</div>
            <div class="text-danger">{{lastViewedPerson ? 'Last viewed: ' + lastViewedPerson.firstName + ' ' +
                lastViewedPerson.lastName : ''}}
            </div>
            <button class="btn btn-primary glyphicon glyphicon-plus" ng-click="toggleAddModal()">Add New Person</button>
        </div>

        <form name="personAddForm" novalidate>
            <custom-modal show="addModalShown" ok-text="addModalOkText" cancel-text="addModalCancelText"
                          header-text="modalHeaderText"
                          on-cancel="hideAddModal()" on-submit="addPerson(addablePerson)">

                <div class="row">
                    <div class="form-group col-md-6"
                         ng-class="{ 'has-error': personAddForm.$submitted && personAddForm.firstName.$invalid }">
                        <label class="control-label" for="first-name">First Name *</label>
                        <input id="first-name" name="firstName" class="form-control" type="text"
                               required
                               ng-model="addablePerson.firstName"></input>

                        <div class="control-label" ng-show="personAddForm.$submitted"
                             class="col-md-6">
                            <div ng-show="personAddForm.firstName.$error.required">First Name is required.</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6"
                         ng-class="{ 'has-error': personAddForm.$submitted && personAddForm.lastName.$invalid }">
                        <label class="control-label" for="last-name">Last Name *</label>
                        <input id="last-name" name="lastName" class="form-control" type="text"
                               required
                               ng-model="addablePerson.lastName"></input>

                        <div class="control-label" ng-show="personAddForm.$submitted"
                             class="col-md-6">
                            <div ng-show="personAddForm.lastName.$error.required">Last Name is required.</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         ng-class="{ 'has-error': personAddForm.$submitted  && personAddForm.age.$invalid }">
                        <label class="control-label" for="age">Age *</label>
                        <input id="age" name="age" class="form-control" type="number" ng-min="1" ng-max="199" required
                               ng-model="addablePerson.age"></input>

                        <div class="control-label" ng-show="personAddForm.$submitted && personAddForm.age.$touched"
                             class="col-md-6">
                            <div ng-show="personAddForm.age.$error.required">Age is required.</div>
                            <div ng-show="personAddForm.age.$error.min">Age should be more than 0.</div>
                            <div ng-show="personAddForm.age.$error.max">Unfortunately 199 years is our current system
                                limit. Please contact Laws of Nature in case of questions.
                            </div>
                            <div ng-show="personAddForm.age.$error.number">Age must be numeric.</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="postal-code">Postal Code</label>
                        <input id="postal-code" class="form-control"
                               ng-model="addablePerson.address.postalCode"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="street">Street</label>
                        <input id="street" class="form-control" ng-model="addablePerson.address.streetAddress"></input>
                    </div>
                    <phone-input form="personAddForm" phone-model="addablePerson.phoneNumber[0].number"
                                 input-name="homePhone" label-text="Home Number *"></phone-input>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         ng-class="{ 'has-error': personAddForm.$submitted && personAddForm.city.$invalid }">
                        <label class="control-label" for="city">City *</label>
                        <input id="city" name="city" class="form-control" required ng-model="addablePerson.address.city"
                               ng-minlength="3" ng-maxlength="50"></input>

                        <div class="control-label" ng-show="personAddForm.$submitted"
                             class="col-md-6">
                            <div ng-show="personAddForm.city.$error.required">City is required.</div>
                            <div ng-show="personAddForm.city.$error.minlength">City name should be more than 2
                                characters.
                            </div>
                            <div ng-show="personAddForm.city.$error.maxlength">City name should be less than 50
                                characters.
                            </div>
                        </div>
                    </div>
                    <phone-input form="personAddForm" phone-model="addablePerson.phoneNumber[1].number"
                                 input-name="faxPhone" label-text="Fax Number *"></phone-input>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="state">State</label>
                        <input id="state" class="form-control" ng-model="addablePerson.address.state"></input>
                    </div>
                </div>
                <div ng-show="personAddForm.$submitted && personAddForm.$invalid" class="control-label pull-right"
                     ng-class="{ 'has-error': personAddForm.$invalid }">
                    Please correct errors in the form above.
                </div>

            </custom-modal>
        </form>

        <form name="personEditForm" novalidate>
            <custom-modal show="editModalShown" ok-text="modalOkText" cancel-text="modalCancelText"
                      header-text="modalHeaderText"
                      on-cancel="hideEditModal()" on-submit="updatePerson(editablePerson)">
                <div class="row">
                    <div class="form-group col-md-6"
                         ng-class="{ 'has-error': personEditForm.$submitted && personEditForm.age.$invalid }">
                        <label class="control-label" for="age">Age *</label>
                        <input id="age" name="age" class="form-control" type="number" ng-min="1" ng-max="199" required
                               ng-model="editablePerson.age"></input>

                        <div class="control-label" ng-show="personEditForm.$submitted && personEditForm.age.$touched"
                             class="col-md-6">
                            <div ng-show="personEditForm.age.$error.required">Age is required.</div>
                            <div ng-show="personEditForm.age.$error.min">Age should be more than 0.</div>
                            <div ng-show="personEditForm.age.$error.max">Unfortunately 199 years is our current system
                                limit. Please contact Laws of Nature in case of questions.
                            </div>
                            <div ng-show="personEditForm.age.$error.number">Age must be numeric.</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="postal-code">Postal Code</label>
                        <input id="postal-code" class="form-control"
                               ng-model="editablePerson.address.postalCode"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="street">Street</label>
                        <input id="street" class="form-control" ng-model="editablePerson.address.streetAddress"></input>
                    </div>
                    <phone-input form="personEditForm" phone-model="editablePerson.phoneNumber[0].number"
                                 input-name="homePhone" label-text="Home Number *"></phone-input>
                </div>
                <div class="row">
                    <div class="form-group col-md-6"
                         ng-class="{ 'has-error': personEditForm.$submitted && personEditForm.city.$invalid }">
                        <label class="control-label" for="city">City *</label>
                        <input id="city" name="city" class="form-control" required
                               ng-model="editablePerson.address.city" ng-minlength="3" ng-maxlength="50"></input>

                        <div class="control-label" ng-show="personEditForm.$submitted && personEditForm.city.$touched"
                             class="col-md-6">
                            <div ng-show="personEditForm.city.$error.required">City is required.</div>
                            <div ng-show="personEditForm.city.$error.minlength">City name should be more than 2
                                characters.
                            </div>
                            <div ng-show="personEditForm.city.$error.maxlength">City name should be less than 50
                                characters.
                            </div>
                        </div>
                    </div>
                    <phone-input form="personEditForm" phone-model="editablePerson.phoneNumber[1].number"
                                 input-name="faxPhone" label-text="Fax Number *"></phone-input>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="state">State</label>
                        <input id="state" class="form-control" ng-model="editablePerson.address.state"></input>
                    </div>
                </div>
                <div ng-show="personEditForm.$submitted && personEditForm.$invalid" class="control-label pull-right"
                     ng-class="{ 'has-error': personEditForm.$invalid }">
                    Please correct errors in the form above.
                </div>
            </custom-modal>
        </form>

        <custom-modal show="deleteModalShown" ok-text="deleteModalOkText" cancel-text="deleteModalCancelText"
                      header-text="modalHeaderText"
                      on-cancel="hideDeleteModal()" on-submit="deletePerson(selectedPerson)">
            <p>Are you sure you want to delete <strong>{{selectedPerson.firstName}} {{selectedPerson.lastName}}</strong>
                from the list?</p>
        </custom-modal>
    </div>
</script>

<script type="text/ng-template" id="person-detail.html">
    <div ng-controller="PersonDetailsController as personDetailsCtrl">
        <div>
            <h2>Edit person: {{editablePerson.firstName + " " + editablePerson.lastName}}</h2>
        </div>
        <hr/>
        <form name="personForm" novalidate ng-submit="personForm.$valid && updatePerson(editablePerson)">
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{ 'has-error': personForm.$submitted && personForm.age.$invalid }">
                    <label class="control-label" for="age">Age *</label>
                    <input id="age" name="age" class="form-control" type="number" ng-min="1" ng-max="199" required
                           ng-model="editablePerson.age"></input>

                    <div class="control-label" ng-show="personForm.$submitted && personForm.age.$touched"
                         class="col-md-6">
                        <div ng-show="personForm.age.$error.required">Age is required.</div>
                        <div ng-show="personForm.age.$error.min">Age should be more than 0.</div>
                        <div ng-show="personForm.age.$error.max">Unfortunately 199 years is our current system limit.
                            Please contact Laws of Nature in case of questions.
                        </div>
                        <div ng-show="personForm.age.$error.number">Age must be numeric.</div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label" for="postal-code">Postal Code</label>
                    <input id="postal-code" class="form-control" ng-model="editablePerson.address.postalCode"></input>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="street">Street</label>
                    <input id="street" class="form-control" ng-model="editablePerson.address.streetAddress"></input>
                </div>
                <phone-input form="personForm" phone-model="editablePerson.phoneNumber[0].number" input-name="homePhone"
                             label-text="Home Number *"></phone-input>
            </div>
            <div class="row">
                <div class="form-group col-md-6"
                     ng-class="{ 'has-error': personForm.$submitted && personForm.city.$invalid }">
                    <label class="control-label" for="city">City *</label>
                    <input id="city" name="city" class="form-control" required ng-model="editablePerson.address.city"
                           ng-minlength="3" ng-maxlength="50"></input>

                    <div class="control-label" ng-show="personForm.$submitted && personForm.city.$touched"
                         class="col-md-6">
                        <div ng-show="personForm.city.$error.required">City is required.</div>
                        <div ng-show="personForm.city.$error.minlength">City name should be more than 2 characters.
                        </div>
                        <div ng-show="personForm.city.$error.maxlength">City name should be less than 50 characters.
                        </div>
                    </div>
                </div>
                <phone-input form="personForm" phone-model="editablePerson.phoneNumber[1].number" input-name="faxPhone"
                             label-text="Fax Number *"></phone-input>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="control-label" for="state">State</label>
                    <input id="state" class="form-control" ng-model="editablePerson.address.state"></input>
                </div>
            </div>
            <hr/>
            <div class="form-buttons col-md-2 col-md-offset-10">
                <a type="button" class="btn btn-default" ng-href="#/list.html">Cancel</a>
                <input type="submit" class="btn btn-primary" text="Update"
                       ng-disabled="checkNotModified(editablePerson)"></input>
            </div>
            <div ng-show="personForm.$submitted && personForm.$invalid" class="control-label pull-right"
                 ng-class="{ 'has-error': personForm.$invalid }">
                Please correct errors in the form above.
            </div>
        </form>
        <span class="clearfix"></span>
    </div>
</script>

<script type="text/ng-template" id="phone-input.html">
    <div class="form-group col-md-6" ng-class="{ 'has-error': form.$submitted && form.{{inputName}}.$invalid }">
        <label class="control-label" for="phone">{{labelText}}</label>
        <input id="phone" name="{{inputName}}" class="form-control" required ng-model="phoneModel"
               ng-pattern="/^[0-9]{3}[-|.| ]?[0-9]{3}[-|.| ]?[0-9]{4}$/"></input>

        <div class="control-label" ng-show="form.$submitted" class="col-md-6">
            <div ng-show="form.{{inputName}}.$error.required">Phone is required.</div>
            <div ng-show="form.{{inputName}}.$error.pattern">Please enter correct Phone (10 digits).</div>
        </div>
    </div>
</script>